---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2 dark:border-gray-700'>
	<p class='text-text-muted dark:text-gray-400'>
		&copy; {today.getFullYear()} <strong class='text-primary'>imun.farm</strong>. All rights reserved.
	</p>
</footer>
